<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  
  <appSettings>
    <!--<add key="logonUser" value="dkurinec" />-->
    <add key="logonUser" value="stodolova" />
    <add key="AdminAplikace" value="Michal Rezler" />
    <!--<add key="LogonUser" value="Weczerek"/>-->
    <add key="MailMask" value="\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*" />
    <add key="PasswordMask" value="^(?=.*[a-z])(?=.*[A-Z])(?=.*[-.'!@#\+\*])(?=.*\d).{8,}$" />
    <add key="MailServer" value="relay.upc.cz" />
    <add key="MailFrom" value="automat@upc.cz" />
    <add key="MailErrorTo" value="michal.rezler@upc.cz" />
    <add key="MailWarningTo" value="michal.rezler@upc.cz" />
    <add key="ApplicationPath" value="/" />
    <!-- Jestli aplikace bezi na Internetu (value="1") nebo na Intranetu (value="0") -->
    <add key="IsInternet" value="0" />
    <add key="SecretKey" value="8a7df768-0d37-4382-9d83-aa63c2586f19" />
    <add key="ValidityPeriod" value="86400" />
    <add key="RegistrationValidityPeriod" value="300" />
    <add key="WatchedAccessPeriod" value="3600" />
    <add key="AppTitle" value="FENIX  VÝVOJ  MICHAL" />
    <!-- Jestli jde o vyvoj (value="1") nebo ne (value="0")[0 .. DEFAULT] -->
    <add key="IsDebug" value="1" />
    <add key="Colors" value="Red = #FF0066; Blue = #4B66FF; OddRow = #FFFFFF; EvenRow = #F7F7F7; SelectedRow = #FF9966" />    
    <add key="DeleteMessageViaXML" value="1" />
    <add key="MaxFileSize" value="100" />                                                        
    <add key="NotCompressFileExt" value="arj;cab;zip,7z;jpg;jpeg;mpg;mpeg;iso;docx;xlsx;pptx" />
  </appSettings>
  
  <connectionStrings>

    <!--FenixRezlerTesty-->    
    <!--<add name="FenixR" providerName="System.Data.SqlClient" connectionString="server=WS8SQLdev;database=FenixRezlerTesty;uid=FenixR;pwd=FenixR#123" />
    <add name="FenixW" providerName="System.Data.SqlClient" connectionString="server=WS8SQLdev;database=FenixRezlerTesty;uid=FenixW;pwd=FenixW#123" />-->

    <!--Fenix LOKAL-->
    <!--<add name="FenixR" providerName="System.Data.SqlClient" connectionString="server=PH-REZLER;database=Fenix_20170523_09;uid=FenixR;pwd=F@n9#xR" />
    <add name="FenixW" providerName="System.Data.SqlClient" connectionString="server=PH-REZLER;database=Fenix_20170523_09;uid=FenixW;pwd=F@n9#xW" />-->

    <!--Fenix W-->
    <!--<add name="FenixR" providerName="System.Data.SqlClient" connectionString="server=WS8SQLdev;database=FenixW;uid=FenixR;pwd=FenixR#123" />
    <add name="FenixW" providerName="System.Data.SqlClient" connectionString="server=WS8SQLdev;database=FenixW;uid=FenixW;pwd=FenixW#123" />-->

    <!--Fenix UAT-->
    <add name="FenixR" providerName="System.Data.SqlClient" connectionString="server=WS8SQL3;database=FenixUAT;uid=FenixR;pwd=F@n9#xR" />
    <add name="FenixW" providerName="System.Data.SqlClient" connectionString="server=WS8SQL3;database=FenixUAT;uid=FenixW;pwd=F@n9#xW" />

    <!--OSTRE  bacha-->
    <!--<add name="FenixR" providerName="System.Data.SqlClient" connectionString="server=WS8SQL3;database=Fenix;uid=FenixR;pwd=F@n9#xR" />
    <add name="FenixW" providerName="System.Data.SqlClient" connectionString="server=WS8SQL3;database=Fenix;uid=FenixW;pwd=F@n9#xW" />-->

    <add name="ZICYZ" providerName="System.Data.SqlClient" connectionString="server=ws8sql2;database=zicyz;uid=zicyzr;pwd=zicyz" />
    <add name="UirAdr" connectionString="Data Source=WS8SQL3;Initial Catalog=UIRADR;User ID=uir;Password=uir;Asynchronous Processing=true; Max Pool Size=175; Min Pool Size=2;" providerName="System.Data.SqlClient" />

    <!--FenixRezlerTesty-->
    <!--<add name="FenixEntities" connectionString="metadata=res://*/FenixModel.csdl|res://*/FenixModel.ssdl|res://*/FenixModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WS8SQLdev;initial catalog=FenixRezlerTesty;user id=FenixW;password=FenixW#123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <!--Fenix LOKAL-->
    <!--<add name="FenixEntities" connectionString="metadata=res://*/FenixModel.csdl|res://*/FenixModel.ssdl|res://*/FenixModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PH-REZLER;initial catalog=Fenix_20170523_09;user id=FenixW;password=F@n9#xW;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <!--Fenix UAT-->
    <!--<add name="FenixEntities" connectionString="metadata=res://*/FenixModel.csdl|res://*/FenixModel.ssdl|res://*/FenixModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ws8sql3;initial catalog=FenixUAT;user id=FenixW;password=F@n9#xW;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    
    <!--OSTRE  bacha-->    
    <add name="FenixEntities" connectionString="metadata=res://*/FenixModel.csdl|res://*/FenixModel.ssdl|res://*/FenixModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ws8sql3;initial catalog=Fenix;user id=FenixW;password=F@n9#xW;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

  </connectionStrings>

  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <authentication mode="Windows" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  
</configuration>